@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.bg {
    /* The image used */
    background-image: url("1.jpg");

    /* Full height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

section {
    /* place-items: center; */
    height: 90.5vh;
    padding: 10px;
    /* color: white; */
    padding-top: 8vh;
}

.bg h1 {
    text-align: center;
    color: #FFFFFF;
}

/* .hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.5s; 
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
} */

/* Hidden state for Element 1 (left) */
.element-from-left.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.8s;
}

/* Visible state for Element 1 (left) */
.element-from-left.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* Hidden state for Element 2 (right) */
.element-from-right.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1.8s;
}

/* Visible state for Element 2 (right) */
.element-from-right.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* Hidden state for Element 3 (fade-in) */
.element-fade-in.hidden {
    opacity: 0;
    transition: opacity 1.8s;
}

/* Visible state for Element 3 (fade-in) */
.element-fade-in.show {
    /* opacity: 1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); */
    opacity: 1;
    display: flex;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    /* margin: auto 0px 0px auto; */
    align-items: center;
}

.bg-2 {
    /* The image used */
    /* background-image: url("/2.jpeg"); */

    /* Full height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-3 {
    /* The image used */
    /* background-image: url("/3.jpeg"); */

    /* Full height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.left-section img {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
}

.right-section {
    color: #FFFFFF;
    text-align: justify;
    max-width: 900px;
    padding: 10px;
}

.about-section {
    display: flex;
    /* place-items: center; */
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}


.Pictures,
.videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.videos a {
    padding: 5px;
}

.videos img {
    width: 375px;
}

.Pictures img {
    width: 255px;
}

.threebyfour {
    margin: 5px;
    margin-top: 0px;
}

/* .element-from-left.hidden {
    overflow: scroll;
}

.element-from-left.show {
    overflow: scroll;
} */

/* Hide the scrollbar */
.element-from-left.show,
.element-from-left.hidden {
    overflow: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer and Edge */
}

/* Hide the scrollbar for WebKit-based browsers (e.g., Chrome, Safari) */
.element-from-left.hidden::-webkit-scrollbar,
.element-from-left.show::-webkit-scrollbar {
    display: none;
}


/* Your existing styles for the navbar here */

/* Hide the regular menu items on mobile screens */
@media screen and (max-width: 768px) {

    .videos img {
        width: 280px;
    }

}


@media (max-width:280px) {}

@media (max-width:375px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

    /* .element-fade-in.show{
        margin-top: 105px;
    } */
    .element-fade-in.show h1 {
        visibility: hidden;
    }
}

@media (max-height:653px) {
    .element-fade-in.show {
        margin-top: 225px;
    }
}

@media (max-width:480px) {
    /* smartphones, Android phones, landscape iPhone */

    .bg {
        overflow: scroll;
    }
}

@media (min-width:600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (min-width:801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}