
body {
    background: linear-gradient(to bottom, #87CEFA, #98FB98 100vh, #98FB98, #87CEFA);
    /* For older browsers */
    background: -webkit-linear-gradient(top, #87CEFA, #98FB98 100vh, #98FB98, #87CEFA);
    background: -moz-linear-gradient(top, #87CEFA, #98FB98 100vh, #98FB98, #87CEFA);
    background: -o-linear-gradient(top, #87CEFA, #98FB98 100vh, #98FB98, #87CEFA);
  
    /* Ensure the gradient does not repeat and covers the entire container */
    /* background-repeat: no-repeat; */
    background-size: 100% 200vh; /* Set the height to twice the viewport height */
  }
/* Styles for the image gallery */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-gallery img {
    width: 240px;
    height: 320px;
    object-fit: cover;
    margin: 5px;
    cursor: pointer;
}

/* Styles for the full-screen image modal */
#image-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    /* padding-top: 60px; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
}

#modal-image {
    max-width: 80%;
    max-height: 80%;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
    cursor: pointer;
}

.prev, .next {
    position: absolute;
    top: 50%;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.prev {
    left: 15px;
}

.next {
    right: 15px;
}
