@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    /* width: 100%; */
    /* overflow: auto; */
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

Header {
    display: flex;
    /* position: fixed; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* background: (0, 0, 0, 0.2); */
}

.nav-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.nav-menu li {
    margin: 10px;
    padding: 10px;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.bg {
    /* The image used */
    background-image: url("1654270056728 new.jpg");

    /* Full height */
    height: 1080px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    padding: 10px;
    margin: 10px;
    /* color: white; */
}

section h1{
    text-align: center;
}

/* .hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.5s; 
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
} */

/* Hidden state for Element 1 (left) */
.element-from-left.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.8s;
}

/* Visible state for Element 1 (left) */
.element-from-left.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* Hidden state for Element 2 (right) */
.element-from-right.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1.8s;
}

/* Visible state for Element 2 (right) */
.element-from-right.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* Hidden state for Element 3 (fade-in) */
.element-fade-in.hidden {
    opacity: 0;
    transition: opacity 1.8s;
}

/* Visible state for Element 3 (fade-in) */
.element-fade-in.show {
    opacity: 1;
}